[safe]
	directory = /tmp/windmill/wk-default-447fd8de4185-DlSci/01a0cadf-3989-30cf-5e90-1beffa017a58/Automata
	directory = /tmp/windmill/wk-default-aa79d7fbc9ba-XK1Ol/01a0caf4-1b75-7ede-e7fc-d9357b7551a2/Automata
